@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

body {
    display: grid;
}

body > div {
    background-color: sandybrown;
}

@media screen and (min-device-width: 480px) {
    body > div {
        background-color: palegreen;
    }
  }

/*
body > div {
    margin-bottom: 3.5rem;
    padding: 2rem 3rem 3.5rem 3rem;
}

#tulip-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    border: 3px solid salmon;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 5em;
    letter-spacing: .1rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
}

button {
    display: grid;
    width: 90%;
}

input {
}

.js-btn-wrap {
    display: grid;
    color: beige;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#garden-1 {
    background-color: rgba(186, 224, 191, 1);
}

#garden-1 h2 {
    color: rgba(175, 155, 95, 1);
}

#garden-1 button {
    border: 2px solid rgba(175, 155, 95, 1);
}

#garden-2 { 
    background-color: rgba(214, 224, 164, 1);
}

#garden-2 h2 {
    color: rgba(95, 156, 120, 1);
}

#garden-3 {
    background-color: rgba(225, 209, 235, 1);
}

#garden-3 h2 {
    color:rgba(173, 141, 186, 1);
}

#garden-4 {
    background-color: rgba(186, 219, 208, 1);
}

#garden-4 h2 {
    color:rgb(160, 25, 146);
}

@media only screen and (min-width: 481px) {
    body {
        background-color: aqua;
    }

    body div {
        width: 60vw;
    }

    h2 {
        font-family: 'Lora', serif;
        font-size: 2.5em;
        letter-spacing: .1rem;
    }

    p {
        font-size: 1.2em;
        line-height: 1.5;
    }

    #tulip-container {
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
        margin-bottom: 20px;
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 1025px) {
    body div {
        width: 40vw;
    }

    body > div div {
        display: grid;
        grid-template-columns: 1fr 7fr;
        align-items: center;
        margin-bottom: 20px;
        font-size: 1.4em;
    }
}

*/