@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

body {
    display: grid;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

body > div {
    margin-bottom: 4rem;
    padding: 3.5em 3em 6em 3em;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 5em;
    letter-spacing: .1rem;
}

button {
    width: 93%;
    height: 90px;
    border-radius: 15px;
    font-size: 3em;
}

input {
    width: 90%;
    height: 70px;
    margin: 10px 0 30px 0;
    padding: 0 0 0 10px;
    font-size: 2.5em;
    border: none;
}

.js-btn-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    padding-top: 30px;
}

.input-wrap {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.plant-container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    margin: 40px 0 40px 0;
}

#garden-1 {
    background-color: rgba(186, 224, 191, 1);
}

#garden-1 h2 {
    color: rgba(128, 109, 54, 1);
}

#garden-1 button {
    border: 4px solid rgba(128, 109, 54, 1);
    color: rgba(128, 109, 54, 1);
}

#garden-2 { 
    background-color: rgba(213, 224, 164, 1);
}

#garden-2 h2 {
    color: rgba(72, 128, 95, 1);
}

#garden-2 button {
    border: 4px solid rgba(72, 128, 95, 1);
    color: rgba(72, 128, 95, 1);
}

#garden-3 {
    background-color: rgba(225, 209, 235, 1);
}

#garden-3 h2 {
    color:rgba(127, 103, 138, 1);
}

#garden-3 button {
    border:4px solid rgba(127, 103, 138, 1);
    color:rgba(127, 103, 138, 1);
}

#garden-3 .plant-container {
    grid-template-columns: 1fr 9fr;
}

#garden-4 {
    background-color: rgba(186, 219, 208, 1);
}

#garden-4 h2 {
    color:rgba(197, 63, 157, 1);
}

#garden-4 button {
    border: 4px solid rgba(197, 63, 157, 1);
    color: rgba(197, 63, 157, 1);
}

#g4-img {
    display: none;
}

@media screen and (min-device-width: 480px) {
    body > div {
        background-color: palegreen;
    }
  }
